<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darian.springbootmybatis.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.darian.springbootmybatis.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username" javaType="java.lang.String"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="SelectONeUser" parameterType="int" resultMap="UserResultMap">
      select id, username, password from user where id = #{id}
  </select>
</mapper>